<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashbooard</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/ruchi.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="shortcut icon" href="/images/faviconAdmin.png" type="image/x-icon">
</head>
<!-- <body style="background-image:url(/images/img1.jpg); min-height:50rem;"> -->
  <body>
    <div class="head">
      <img id="logo" src="/images/cdac logo.jpg" alt="">
      <div class="title">
        <h1 style="font-size:27px;font-weight: 800" ;>Centre For Development of Advanced Computing <br>Center In North
          East<span style="font-size:32px" ;> (CINE)</span>, Silchar,&nbspAssam-788010</h1>
        <h3 style="font-size:22px" ;> Public Grievance Redress and Monitoring System(PGRAMS)</h3>
      </div>
      <img id="clg" src="/images/nit Silchar copy.jpg" alt="">
    </div>
    <div class="nav">
      <a href=""><i class="bi bi-house"></i>&nbsp Home</a>
      <div class="dropdowna">
        <button class="dropbtna"><i class="fa-solid fa-users-gear"></i>&nbsp PGRAMS Officers
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-contenta my">
          <a href="/offHome">Assigning officers</a>
          <a href="/techHome">Technicians</a>
        </div>
      </div>
      <a href="/about"><i class="bi bi-file-earmark-person-fill"></i>&nbsp About</a>
      <a href="/contact"><i class="bi bi-person-lines-fill"></i>&nbsp Contact</a>
      <a href="/admin"><i class="bi bi-calendar-check"></i>To Verify</a>
      <a href="/verifiedUsers"><i class="bi bi-calendar-check"></i>Users</a>
      <a href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC website</a>

      <!-- <a href="#"><i class="fa fa-fw fa-user"></i> About</a> -->
      <a href="/logout"><i class="bi bi-box-arrow-right"></i>&nbsp Logout</a>
    </div>
    <div id="all">
  <% if(message.length > 0){ %> 
    <div class="alert alert-success">
      <%= message %> 
    </div> 
  <% } %>  
  <div class="title-admin">
    <div class="heading">
      <h3 style="color: aliceblue;">Verified Users!!</h3>
    </div>
  </div>

  <div class="all-container">
    <div class="private-container">
      <h5 class="title-user">End Users here</h5>
      <% user.forEach((item)=>{ if(item.typeOfPerson==="citizen" && item.verified ==="yes"){%>
          <li class="listtwo">
             <h3><%= item.firstName %>
          </h3>
            <div>
              <button class="view" onclick="openpopup(this)">View</button>
               <!-- Button trigger modal -->
              <div class="popup">
                 <h2> Details of Complaint </h2>
                 <% if(item.adharImg){ %>
                  <a href="/adhar/<%= item.adharImg %>" download="<%= item.firstName %> ">download Adhar</a>
                  <% } %>
                  <h5>
                    <p>First name: <%= item.firstName %> - (<%= item.typeOfPerson %>)
                  </h5>
                  <p>Last name: <%= item.lastName %></p>
                  <p>Mobile: <%= item.mobile %></p>
                  <p>Email: <%= item.username %></p>
                  <p>Adhar Id: <%= item.adharNo %></p>
                  <p>Age: <%= item.age %></p>
                 <div style="display: flex; justify-content: space-around;">
                    <form action="/deleteByAdmin/<%= item._id %>" method="post">
                      <button type="submit" class="btn btn-primary">Remove Data</button>
                    </form>
                  <button type="button" class="btn btn-secondary" onclick="closepopup(this)">close</button>
                </div>
              </div>
            </div>
          </li>
      <%}}); %>
    </div>
    <div class="private-container">
      <h5 class="title-user">Technicians here</h5>
      <% user.forEach((item)=>{ if(item.typeOfPerson==="technician" && item.verified ==="yes"){%>
          <li class="listtwo">
             <h3><%= item.firstName %>
          </h3>
            <div>
              <button class="view" onclick="openpopup(this)">View</button>
               <!-- Button trigger modal -->
              <div class="popup">
                 <h2> Details of Complaint </h2>
                 <% if(item.adharImg){ %>
                  <a href="/adhar/<%= item.adharImg %>" download="<%= item.firstName %> ">download Adhar</a>
                  <% } %>
                  <h5>
                    <p>First name: <%= item.firstName %> - (<%= item.typeOfPerson %>)
                  </h5>
                  <p>Last name: <%= item.lastName %></p>
                  <p>Mobile: <%= item.mobile %></p>
                  <p>Email: <%= item.username %></p>
                  <p>Adhar Id: <%= item.adharNo %></p>
                  <p>Age: <%= item.age %></p>
                 <div style="display: flex; justify-content: space-around;">
                  <form action="/deleteByAdmin/<%= item._id %>" method="post">
                    <button type="submit" class="btn btn-primary">Remove Data</button>
                  </form>
                  <button type="button" class="btn btn-secondary" onclick="closepopup(this)"> close</button>
                </div>
              </div>
            </div>
          </li>
      <%}}); %>
    </div>
    <div class="private-container">
      <h5 class="title-user">Assigning Officer here</h5>
      <% user.forEach((item)=>{ if(item.typeOfPerson==="assigningOfficer" && item.verified ==="yes"){%>
          <li class="listtwo">
             <h3><%= item.firstName %>
          </h3>
            <div>
              <button class="view" onclick="openpopup(this)">View</button>
               <!-- Button trigger modal -->
              <div class="popup">
                 <h2> Details of Complaint </h2>
                 <% if(item.adharImg){ %>
                  <a href="/adhar/<%= item.adharImg %>" download="<%= item.firstName %> ">download Adhar</a>
                  <% } %>
                  <h5>
                    <p>First name: <%= item.firstName %> - (<%= item.typeOfPerson %>)
                  </h5>
                  <p>Last name: <%= item.lastName %></p>
                  <p>Mobile: <%= item.mobile %></p>
                  <p>Email: <%= item.username %></p>
                  <p>Adhar Id: <%= item.adharNo %></p>
                  <p>Age: <%= item.age %></p>
                 <div style="display: flex; justify-content: space-around;">
                  <form action="/deleteByAdmin/<%= item._id %>" method="post">
                    <button type="submit" class="btn btn-primary">Remove Data</button>
                  </form>
                  <button type="button" class="btn btn-secondary" onclick="closepopup(this)"> Close</button>
                </div>
              </div>
            </div>
          </li>
      <%}}); %>
    </div>
  </div>
</div>
  <footer>
    <p>
      <a href="https://www.cdac.in/index.aspx?id=help">Help</a>
      <a href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a>
      <a href="https://www.cdac.in/index.aspx?id=legal_notice#2">Copyrights Policy</a>
      <a href="https://www.cdac.in/index.aspx?id=terms_conditions">Terms & Conditions</a>
      <a href="https://www.cdac.in/index.aspx?id=reach_us">Reach Us</a>
      <a href="https://www.facebook.com/CDACINDIA/"><img src="/images/pics/facebook.png" alt=""></a>
      <a href="https://www.linkedin.com/messaging/thread/2-NzI2YmNjMmItNzU3NS00ZjRiLTllZDMtNmZjNzU3MGJiZDIyXzAxMw==/"><img
          src="/images/pics/linkedin.png" alt=""></a>
      <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img
          src="/images/pics/twitter.png" alt=""></a>
    </p>
    <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p>
    <p>© 2022 C-DAC. All rights reserved, Last Updated: Monday, December 26, 2022</p>
  </footer> 
   <script>
    function openpopup(currelement) {
      currelement.parentElement.children[1].classList.add("open-popup")
    }
    function closepopup(currelement) {
      currelement.parentElement.parentElement.classList.remove("open-popup");
    }
  </script>
</body>

</html>